.user-dashboard {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: linear-gradient(to right, #2C736D, #53D9CE);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .user-dashboard h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .card {
    width: 80%;
    max-width: 500px;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .card:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .input3-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 15px;
    width: 10em;
    margin-top: 3em;
  }
  .input3-group h2 {
    color: white;
  }

.qr-img img {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 8em;
}